In [1]:
import numpy as np
import pandas as pd
# import pickle

# with open('bin/tag_meta.p', 'rb') as f:
#     tag_meta, tag_meta_inverse = pickle.load(f)

In [5]:
head = pd.read_json('submission/lightknn_100_idf_04_head.json', orient='records')
tail = pd.read_json('submission/lightknn_100_idf_04_tail.json', orient='records')
display(head, tail)
ans = pd.concat([head, tail], ignore_index=True)
ans.to_json('submission/lightknn_100_idf_04.json', orient='records')

,id,songs,tags
0,118598,"[207912, 623047, 422438, 703323, 638488, 32221...","[OST, 디즈니, 애니메이션, 영화, 추억, 기분전환, 동심, 디즈니OST, 픽사..."
1,131447,"[16382, 349306, 660725, 595188, 283888, 496879...","[기분전환, 발라드, 드라이브, 힙합, 힐링, 카페, 휴식, 랩, 추억, 감성]"
2,51464,"[533739, 214521, 610218, 457500, 456474, 40277...","[발라드, 추억, 회상, 이별, 슬픔, 설렘, 밤, 새벽, 사랑, 감성]"
3,45144,"[144663, 367963, 174749, 224921, 116114, 19533...","[발라드, 감성, 사랑, 잔잔한, 이별, 새벽, 카페, 기분전환, 휴식, 밤]"
4,79929,"[211220, 412769, 445299, 106129, 70314, 526037...","[CCM, 찬양, 은혜, 사랑, 예배, 국내ccm, 교회, 찬송가, 위로, 파워DJ..."
...,...,...,...
12995,136683,"[16382, 349306, 660725, 595188, 283888, 496879...","[기분전환, 발라드, 드라이브, 힙합, 힐링, 카페, 휴식, 랩, 추억, 감성]"
12996,5216,"[16382, 349306, 660725, 595188, 283888, 496879...","[기분전환, 발라드, 드라이브, 힙합, 힐링, 카페, 휴식, 랩, 추억, 감성]"
12997,68038,"[370796, 258919, 522825, 298103, 170317, 24698...","[발라드, 이별, 사랑, 슬픔, 추억, 설렘, 회상, 기분전환, 감성, 까페]"
12998,60325,"[675115, 407828, 671830, 26083, 302646, 650494...","[추억, 기분전환, 발라드, 회상, 휴식, 힐링, 드라이브, 멜론, 사랑, 감성]"
12999,20545,"[16382, 349306, 660725, 595188, 283888, 496879...","[기분전환, 발라드, 드라이브, 힙합, 힐링, 카페, 휴식, 랩, 추억, 감성]"

,id,songs,tags
0,120241,"[658227, 200687, 54755, 335756, 576559, 529748...","[방탄소년단, 아이돌, 기분전환, 신나는, 드라이브, BTS, 여행, 휴식, 봄, 감성]"
1,134333,"[654757, 88503, 123465, 492678, 118219, 295250...","[OST, 추억, 회상, 사랑, 드라마ost, 기분전환, 발라드, 설렘, 이별, 휴식]"
2,151400,"[675115, 44603, 643628, 77951, 35703, 11657, 6...","[잔잔한, 가을, 발라드, 새벽, 이별, 회상, 밤, 힐링, 휴식, 기분전환]"
3,147692,"[518420, 318530, 114119, 443914, 375431, 60363...","[신나는, 댄스, 기분전환, 걸그룹, 아이돌, 운동, 드라이브, 여자아이돌, 여행,..."
4,24748,"[588471, 253386, 447424, 479311, 268138, 51234...","[아이돌, 기분전환, 댄스, 발라드, 신나는, 드라이브, 휴식, 힙합, 랩, 운동]"
...,...,...,...
10010,101722,"[339802, 116573, 286273, 459866, 413189, 57790...","[새벽, 밤, 이별, 슬픔, 힐링, 발라드, 휴식, 감성, 기분전환, 인디]"
10011,122127,"[352228, 138932, 4173, 473514, 630552, 48209, ...","[사랑, 추억, 엄마, 부모님, 회상, 힐링, 휴식, 잔잔한, 어버이날, 발라드]"
10012,77438,"[274504, 679436, 140867, 459256, 571016, 69631...","[팝, 팝송, Pop, 기분전환, 드라이브, 휴식, 신나는, 카페, 매장음악, 감성]"
10013,36231,"[651788, 354737, 64680, 532729, 375318, 81796,...","[클래식, 휴식, 힐링, 잔잔한, 기분전환, 피아노, 가을, 연주곡, 집중, 자장가]"
10014,65189,"[457124, 250, 204547, 25012, 104065, 586556, 1...","[봄, 사랑, 벚꽃, 설렘, 봄노래, 기분전환, 봄날, 봄캐롤, 감성, 드라이브]"

In [13]:
ans = pd.read_json('submission/lightknn_100_cos_a03_b07.json', orient='records')
idx = []
for i in ans.index:
    length = len(ans.tags[i])
    if length != 10:
        idx.append(i)
        for k in range(10-length):
            ans.tags[i].append(k)
display(ans.tags[idx])
ans.to_json('submission/results.json', orient='records')

2948               [뉴에이지, 뉴에이, 0, 1, 2, 3, 4, 5, 6, 7]
3312               [뉴에이지, 뉴에이, 0, 1, 2, 3, 4, 5, 6, 7]
3908               [뉴에이지, 뉴에이, 0, 1, 2, 3, 4, 5, 6, 7]
5452               [뉴에이지, 뉴에이, 0, 1, 2, 3, 4, 5, 6, 7]
5474                  [겨울, 재즈, 0, 1, 2, 3, 4, 5, 6, 7]
18110              [뉴에이지, 뉴에이, 0, 1, 2, 3, 4, 5, 6, 7]
18638                 [겨울, 재즈, 0, 1, 2, 3, 4, 5, 6, 7]
21410    [해외차트, 국내, 국내차트, 년대, 멜론차트, 실시간차트, 0, 1, 2, 3]
22189                 [겨울, 재즈, 0, 1, 2, 3, 4, 5, 6, 7]
Name: tags, dtype: object

In [31]:
first = pd.read_json('submission/lightknn_100_idf_rho04a05b05_head.json', orient='records')
second = pd.read_json('submission/lightknn_100_idf_rho04a05b05_tail.json', orient='records')
third = pd.read_json('submission/lightknn_100_idf_rho04a05b05_third.json', orient='records')
ans = pd.concat([first, second, third], ignore_index=True)
display(ans)
for i in ans.index:
    temp = []
    for tag in ans.tags[i]:
        temp.append(tag_meta_inverse[tag])
    ans.at[i, 'tags'] = temp
display(ans)
idx = []
for i in ans.index:
    length = len(ans.tags[i])
    if length != 10:
        idx.append(i)
        for k in range(10-length):
            ans.tags[i].append(k)
display(ans.tags[idx])
ans.to_json('submission/lightknn_100_idf_rho04a05b05.json', orient="records")

,id,songs,tags
0,118598,"[207912, 623047, 422438, 703323, 638488, 32221...","[86, 2928, 2737, 1089, 1, 21, 5250, 3574, 3577..."
1,131447,"[16382, 349306, 660725, 595188, 283888, 496879...","[21, 122, 17, 57, 20, 85, 110, 192, 1, 67]"
2,51464,"[533739, 214521, 610218, 457500, 456474, 40277...","[122, 1, 2, 31, 28, 71, 59, 60, 30, 67]"
3,45144,"[144663, 367963, 174749, 224921, 116114, 19533...","[122, 67, 30, 4, 31, 60, 85, 21, 110, 59]"
4,79929,"[211220, 412769, 445299, 106129, 70314, 526037...","[326, 947, 949, 30, 1454, 2355, 2680, 3542, 12..."
...,...,...,...
23010,101722,"[116573, 366786, 22845, 449244, 95485, 245317,...","[60, 59, 110, 20, 67, 1, 30, 31, 21, 28]"
23011,122127,"[352228, 138932, 4173, 473514, 630552, 48209, ...","[124, 3161, 20, 473, 30, 4, 1, 67, 60, 2]"
23012,77438,"[274504, 679436, 140867, 459256, 571016, 69631...","[23, 309, 18, 21, 17, 110, 96, 85, 112, 67]"
23013,36231,"[651788, 354737, 64680, 532729, 375318, 81796,...","[358, 110, 20, 4, 21, 493, 65, 157, 654, 258]"
23014,65189,"[457124, 250, 204547, 25012, 104065, 586556, 1...","[70, 30, 217, 71, 627, 21, 922, 626, 67, 17]"

,id,songs,tags
0,118598,"[207912, 623047, 422438, 703323, 638488, 32221...","[OST, 디즈니, 애니메이션, 영화, 추억, 기분전환, 동심, 디즈니OST, 픽사..."
1,131447,"[16382, 349306, 660725, 595188, 283888, 496879...","[기분전환, 발라드, 드라이브, 힙합, 힐링, 카페, 휴식, 랩, 추억, 감성]"
2,51464,"[533739, 214521, 610218, 457500, 456474, 40277...","[발라드, 추억, 회상, 이별, 슬픔, 설렘, 밤, 새벽, 사랑, 감성]"
3,45144,"[144663, 367963, 174749, 224921, 116114, 19533...","[발라드, 감성, 사랑, 잔잔한, 이별, 새벽, 카페, 기분전환, 휴식, 밤]"
4,79929,"[211220, 412769, 445299, 106129, 70314, 526037...","[CCM, 찬양, 은혜, 사랑, 예배, 국내ccm, 교회, 찬송가, 위로, 파워DJ..."
...,...,...,...
23010,101722,"[116573, 366786, 22845, 449244, 95485, 245317,...","[새벽, 밤, 휴식, 힐링, 감성, 추억, 사랑, 이별, 기분전환, 슬픔]"
23011,122127,"[352228, 138932, 4173, 473514, 630552, 48209, ...","[위로, 엄마, 힐링, 부모님, 사랑, 잔잔한, 추억, 감성, 새벽, 회상]"
23012,77438,"[274504, 679436, 140867, 459256, 571016, 69631...","[팝, 팝송, Pop, 기분전환, 드라이브, 휴식, 신나는, 카페, 매장음악, 감성]"
23013,36231,"[651788, 354737, 64680, 532729, 375318, 81796,...","[클래식, 휴식, 힐링, 잔잔한, 기분전환, 피아노, 가을, 연주곡, 집중, 자장가]"
23014,65189,"[457124, 250, 204547, 25012, 104065, 586556, 1...","[봄, 사랑, 벚꽃, 설렘, 봄노래, 기분전환, 봄날, 봄캐롤, 감성, 드라이브]"

491               [힙합, 힙합엘이, 흑인음악, 알앤비, R, 추억, 0, 1, 2, 3]
1479             [힙합, 쇼미더머니, 알앤비, 이것저것, 국힙, 0, 1, 2, 3, 4]
5463     [힙합, HIPHOPLE, 흑인음악, 알앤비, R, 서울소울페스티벌, 서소페, 0,...
9375     [피쉬슈즈, 인디, 인디스트리트, indie, 레이브릭스, ByeByeBadman,...
9535     [나만의Best3, 피쉬슈즈, 인디스트리트, 미러볼뮤직, 케이인디차트, 낭만, 추억...
10787    [나만의Best3, 인디, 인디스트리트, indie, 신해경, 피터팬콤플렉스, 전지...
11290          [힙합, 힙합엘이, 흑인음악, 알앤비, R, 클럽, 드라이브, 0, 1, 2]
12162    [힙합, primary, HipHop, M에센셜, 프라이머리, Rap, 기분전환, ...
19479                  [힙합, 감성, 부드러움, 0, 1, 2, 3, 4, 5, 6]
Name: tags, dtype: object

In [6]:
# Best Record(1)
a = pd.read_json('submission/lightknn_100_idf_04.json', orient='records')
b = pd.read_json('submission/lightknn_100_idf_rho04a05b05.json', orient='records')
display(a, b)
ans = a.copy()
for i in ans.index:
    ans.at[i, 'tags'] = b.tags[i]
display(ans)
ans.to_json('submission/lightknn_100_idf_rho04_tags-a05b05.json', orient='records')

,id,songs,tags
0,118598,"[207912, 623047, 422438, 703323, 638488, 32221...","[OST, 디즈니, 애니메이션, 영화, 추억, 기분전환, 동심, 디즈니OST, 픽사..."
1,131447,"[16382, 349306, 660725, 595188, 283888, 496879...","[기분전환, 발라드, 드라이브, 힙합, 힐링, 카페, 휴식, 랩, 추억, 감성]"
2,51464,"[533739, 214521, 610218, 457500, 456474, 40277...","[발라드, 추억, 회상, 이별, 슬픔, 설렘, 밤, 새벽, 사랑, 감성]"
3,45144,"[144663, 367963, 174749, 224921, 116114, 19533...","[발라드, 감성, 사랑, 잔잔한, 이별, 새벽, 카페, 기분전환, 휴식, 밤]"
4,79929,"[211220, 412769, 445299, 106129, 70314, 526037...","[CCM, 찬양, 은혜, 사랑, 예배, 국내ccm, 교회, 찬송가, 위로, 파워DJ..."
...,...,...,...
23010,101722,"[339802, 116573, 286273, 459866, 413189, 57790...","[새벽, 밤, 이별, 슬픔, 힐링, 발라드, 휴식, 감성, 기분전환, 인디]"
23011,122127,"[352228, 138932, 4173, 473514, 630552, 48209, ...","[사랑, 추억, 엄마, 부모님, 회상, 힐링, 휴식, 잔잔한, 어버이날, 발라드]"
23012,77438,"[274504, 679436, 140867, 459256, 571016, 69631...","[팝, 팝송, Pop, 기분전환, 드라이브, 휴식, 신나는, 카페, 매장음악, 감성]"
23013,36231,"[651788, 354737, 64680, 532729, 375318, 81796,...","[클래식, 휴식, 힐링, 잔잔한, 기분전환, 피아노, 가을, 연주곡, 집중, 자장가]"
23014,65189,"[457124, 250, 204547, 25012, 104065, 586556, 1...","[봄, 사랑, 벚꽃, 설렘, 봄노래, 기분전환, 봄날, 봄캐롤, 감성, 드라이브]"

,id,songs,tags
0,118598,"[207912, 623047, 422438, 703323, 638488, 32221...","[OST, 디즈니, 애니메이션, 영화, 추억, 기분전환, 동심, 디즈니OST, 픽사..."
1,131447,"[16382, 349306, 660725, 595188, 283888, 496879...","[기분전환, 발라드, 드라이브, 힙합, 힐링, 카페, 휴식, 랩, 추억, 감성]"
2,51464,"[533739, 214521, 610218, 457500, 456474, 40277...","[발라드, 추억, 회상, 이별, 슬픔, 설렘, 밤, 새벽, 사랑, 감성]"
3,45144,"[144663, 367963, 174749, 224921, 116114, 19533...","[발라드, 감성, 사랑, 잔잔한, 이별, 새벽, 카페, 기분전환, 휴식, 밤]"
4,79929,"[211220, 412769, 445299, 106129, 70314, 526037...","[CCM, 찬양, 은혜, 사랑, 예배, 국내ccm, 교회, 찬송가, 위로, 파워DJ..."
...,...,...,...
23010,101722,"[116573, 366786, 22845, 449244, 95485, 245317,...","[새벽, 밤, 휴식, 힐링, 감성, 추억, 사랑, 이별, 기분전환, 슬픔]"
23011,122127,"[352228, 138932, 4173, 473514, 630552, 48209, ...","[위로, 엄마, 힐링, 부모님, 사랑, 잔잔한, 추억, 감성, 새벽, 회상]"
23012,77438,"[274504, 679436, 140867, 459256, 571016, 69631...","[팝, 팝송, Pop, 기분전환, 드라이브, 휴식, 신나는, 카페, 매장음악, 감성]"
23013,36231,"[651788, 354737, 64680, 532729, 375318, 81796,...","[클래식, 휴식, 힐링, 잔잔한, 기분전환, 피아노, 가을, 연주곡, 집중, 자장가]"
23014,65189,"[457124, 250, 204547, 25012, 104065, 586556, 1...","[봄, 사랑, 벚꽃, 설렘, 봄노래, 기분전환, 봄날, 봄캐롤, 감성, 드라이브]"

,id,songs,tags
0,118598,"[207912, 623047, 422438, 703323, 638488, 32221...","[OST, 디즈니, 애니메이션, 영화, 추억, 기분전환, 동심, 디즈니OST, 픽사..."
1,131447,"[16382, 349306, 660725, 595188, 283888, 496879...","[기분전환, 발라드, 드라이브, 힙합, 힐링, 카페, 휴식, 랩, 추억, 감성]"
2,51464,"[533739, 214521, 610218, 457500, 456474, 40277...","[발라드, 추억, 회상, 이별, 슬픔, 설렘, 밤, 새벽, 사랑, 감성]"
3,45144,"[144663, 367963, 174749, 224921, 116114, 19533...","[발라드, 감성, 사랑, 잔잔한, 이별, 새벽, 카페, 기분전환, 휴식, 밤]"
4,79929,"[211220, 412769, 445299, 106129, 70314, 526037...","[CCM, 찬양, 은혜, 사랑, 예배, 국내ccm, 교회, 찬송가, 위로, 파워DJ..."
...,...,...,...
23010,101722,"[339802, 116573, 286273, 459866, 413189, 57790...","[새벽, 밤, 휴식, 힐링, 감성, 추억, 사랑, 이별, 기분전환, 슬픔]"
23011,122127,"[352228, 138932, 4173, 473514, 630552, 48209, ...","[위로, 엄마, 힐링, 부모님, 사랑, 잔잔한, 추억, 감성, 새벽, 회상]"
23012,77438,"[274504, 679436, 140867, 459256, 571016, 69631...","[팝, 팝송, Pop, 기분전환, 드라이브, 휴식, 신나는, 카페, 매장음악, 감성]"
23013,36231,"[651788, 354737, 64680, 532729, 375318, 81796,...","[클래식, 휴식, 힐링, 잔잔한, 기분전환, 피아노, 가을, 연주곡, 집중, 자장가]"
23014,65189,"[457124, 250, 204547, 25012, 104065, 586556, 1...","[봄, 사랑, 벚꽃, 설렘, 봄노래, 기분전환, 봄날, 봄캐롤, 감성, 드라이브]"

In [6]:
# Best Record(2)
val = pd.read_json('res/val.json')
combined = pd.read_json('submission/lightknn_100_idf_rho04_tags-a05b05.json', orient='records')
b = pd.read_json('submission/lightknn_100_idf_rho04a05b05.json', orient='records')
for i in val.index:
    if val.songs[i] == []:
        combined.at[i, 'songs'] = b.songs[i]
display(combined)
combined.to_json('submission/lightknn_100_idf_rho04_tags-a05b05-songs_upgraded.json', orient='records')

,id,songs,tags
0,118598,"[207912, 623047, 422438, 703323, 638488, 32221...","[OST, 디즈니, 애니메이션, 영화, 추억, 기분전환, 동심, 디즈니OST, 픽사..."
1,131447,"[16382, 349306, 660725, 595188, 283888, 496879...","[기분전환, 발라드, 드라이브, 힙합, 힐링, 카페, 휴식, 랩, 추억, 감성]"
2,51464,"[533739, 214521, 610218, 457500, 456474, 40277...","[발라드, 추억, 회상, 이별, 슬픔, 설렘, 밤, 새벽, 사랑, 감성]"
3,45144,"[144663, 367963, 174749, 224921, 116114, 19533...","[발라드, 감성, 사랑, 잔잔한, 이별, 새벽, 카페, 기분전환, 휴식, 밤]"
4,79929,"[211220, 412769, 445299, 106129, 70314, 526037...","[CCM, 찬양, 은혜, 사랑, 예배, 국내ccm, 교회, 찬송가, 위로, 파워DJ..."
...,...,...,...
23010,101722,"[339802, 116573, 286273, 459866, 413189, 57790...","[새벽, 밤, 휴식, 힐링, 감성, 추억, 사랑, 이별, 기분전환, 슬픔]"
23011,122127,"[352228, 138932, 4173, 473514, 630552, 48209, ...","[위로, 엄마, 힐링, 부모님, 사랑, 잔잔한, 추억, 감성, 새벽, 회상]"
23012,77438,"[274504, 679436, 140867, 459256, 571016, 69631...","[팝, 팝송, Pop, 기분전환, 드라이브, 휴식, 신나는, 카페, 매장음악, 감성]"
23013,36231,"[651788, 354737, 64680, 532729, 375318, 81796,...","[클래식, 휴식, 힐링, 잔잔한, 기분전환, 피아노, 가을, 연주곡, 집중, 자장가]"
23014,65189,"[457124, 250, 204547, 25012, 104065, 586556, 1...","[봄, 사랑, 벚꽃, 설렘, 봄노래, 기분전환, 봄날, 봄캐롤, 감성, 드라이브]"

In [16]:
# Best Record(3)
# cfknnv2_a1b03
first = pd.read_json('submission/cfknnv2_a1b03/cfknnv2_a1b03_first.json', orient='records')
second = pd.read_json('submission/cfknnv2_a1b03/cfknnv2_a1b03_second.json', orient='records')
val = pd.read_json('res/val.json')
best = pd.read_json('submission/lightknn_100_idf_rho04_tags-a05b05-songs_upgraded.json', orient='records')
ans = pd.DataFrame(columns=['id', 'songs', 'tags'], index=val.index)

idx1 = 0
idx2 = 0
for i in val.index:
    if val.songs[i] == []:
        ans.at[i, 'id'] = val.loc[i, 'id']
        ans.at[i, 'songs'] = best.loc[i, 'songs']
    else:
        if i < 11500:
            ans.at[i, 'id'] = first.loc[idx1, 'id']
            ans.at[i, 'songs'] = first.loc[idx1, 'songs']
            idx1 += 1
        elif i >= 11500:
            ans.at[i, 'id'] = second.loc[idx2, 'id']
            ans.at[i, 'songs'] = second.loc[idx2, 'songs']
            idx2 += 1
    ans.at[i, 'tags'] = best.loc[i, 'tags']
ans.to_json('submission/cfknnv2_a1b03/cfknnv2_a1b03_combined_lightknn_100_idf_rho04_tags-a05b05-songs_upgraded.json', orient='records')
ans

,id,songs,tags
0,118598,"[694423, 308797, 412246, 520034, 359986, 61120...","[OST, 디즈니, 애니메이션, 영화, 추억, 기분전환, 동심, 디즈니OST, 픽사..."
1,131447,"[16382, 349306, 660725, 595188, 283888, 496879...","[기분전환, 발라드, 드라이브, 힙합, 힐링, 카페, 휴식, 랩, 추억, 감성]"
2,51464,"[478552, 331734, 436168, 276232, 545417, 42080...","[발라드, 추억, 회상, 이별, 슬픔, 설렘, 밤, 새벽, 사랑, 감성]"
3,45144,"[587737, 459349, 224363, 551486, 367679, 68851...","[발라드, 감성, 사랑, 잔잔한, 이별, 새벽, 카페, 기분전환, 휴식, 밤]"
4,79929,"[211220, 70314, 522562, 289089, 412769, 618001...","[CCM, 찬양, 은혜, 사랑, 예배, 국내ccm, 교회, 찬송가, 위로, 파워DJ..."
...,...,...,...
23010,101722,"[426430, 399402, 485193, 496582, 397577, 60656...","[새벽, 밤, 휴식, 힐링, 감성, 추억, 사랑, 이별, 기분전환, 슬픔]"
23011,122127,"[162689, 4173, 36458, 352228, 438095, 351769, ...","[위로, 엄마, 힐링, 부모님, 사랑, 잔잔한, 추억, 감성, 새벽, 회상]"
23012,77438,"[274504, 679436, 459256, 493762, 542127, 14086...","[팝, 팝송, Pop, 기분전환, 드라이브, 휴식, 신나는, 카페, 매장음악, 감성]"
23013,36231,"[200679, 102795, 375318, 95380, 520167, 64680,...","[클래식, 휴식, 힐링, 잔잔한, 기분전환, 피아노, 가을, 연주곡, 집중, 자장가]"
23014,65189,"[457124, 586556, 104065, 154929, 25012, 23155,...","[봄, 사랑, 벚꽃, 설렘, 봄노래, 기분전환, 봄날, 봄캐롤, 감성, 드라이브]"

In [2]:
first = pd.read_json('submission/cfknnv2_a1b05.json', orient='records')
val = pd.read_json('res/val.json')
best = pd.read_json('submission/lightknn_100_idf_rho04_tags-a05b05-songs_upgraded.json', orient='records')
ans = pd.DataFrame(columns=['id', 'songs', 'tags'], index=val.index)

idx = 0
for i in val.index:
    if val.songs[i] == []:
        ans.at[i, 'id'] = val.loc[i, 'id']
        ans.at[i, 'songs'] = best.loc[i, 'songs']
    else:
        ans.at[i, 'id'] = first.loc[idx, 'id']
        ans.at[i, 'songs'] = first.loc[idx, 'songs']
        idx += 1
    ans.at[i, 'tags'] = best.loc[i, 'tags']
ans.to_json('submission/cfknnv2_a1b05_full.json', orient='records')
ans

,id,songs,tags
0,118598,"[694423, 308797, 461170, 520034, 611201, 35998...","[OST, 디즈니, 애니메이션, 영화, 추억, 기분전환, 동심, 디즈니OST, 픽사..."
1,131447,"[16382, 349306, 660725, 595188, 283888, 496879...","[기분전환, 발라드, 드라이브, 힙합, 힐링, 카페, 휴식, 랩, 추억, 감성]"
2,51464,"[331734, 478552, 276232, 436168, 545417, 62788...","[발라드, 추억, 회상, 이별, 슬픔, 설렘, 밤, 새벽, 사랑, 감성]"
3,45144,"[459349, 587737, 119675, 475865, 229904, 25903...","[발라드, 감성, 사랑, 잔잔한, 이별, 새벽, 카페, 기분전환, 휴식, 밤]"
4,79929,"[522562, 345855, 704659, 70314, 211220, 707163...","[CCM, 찬양, 은혜, 사랑, 예배, 국내ccm, 교회, 찬송가, 위로, 파워DJ..."
...,...,...,...
23010,101722,"[426430, 606564, 368925, 339356, 64480, 470725...","[새벽, 밤, 휴식, 힐링, 감성, 추억, 사랑, 이별, 기분전환, 슬픔]"
23011,122127,"[162689, 299248, 505247, 438095, 588370, 36458...","[위로, 엄마, 힐링, 부모님, 사랑, 잔잔한, 추억, 감성, 새벽, 회상]"
23012,77438,"[274504, 679436, 542127, 459256, 571016, 47668...","[팝, 팝송, Pop, 기분전환, 드라이브, 휴식, 신나는, 카페, 매장음악, 감성]"
23013,36231,"[200679, 102795, 375318, 95380, 520167, 97444,...","[클래식, 휴식, 힐링, 잔잔한, 기분전환, 피아노, 가을, 연주곡, 집중, 자장가]"
23014,65189,"[457124, 104065, 23155, 586556, 154929, 25012,...","[봄, 사랑, 벚꽃, 설렘, 봄노래, 기분전환, 봄날, 봄캐롤, 감성, 드라이브]"

In [2]:
# Best Record(4)
# cfknnv2_a05b03
first1 = pd.read_json('submission/cfknnv2_a05b03/auto_save_first.json', orient='records')     # (0, 7000)
first2 = pd.read_json('submission/cfknnv2_a05b03/auto_save2_first.json', orient='records')    # (5000, 11500)
second1 = pd.read_json('submission/cfknnv2_a05b03/auto_save_second.json', orient='records')   # (11500 , 18500)
second2 = pd.read_json('submission/cfknnv2_a05b03/auto_save2_second.json', orient='records')  # (16500, 22500)
second3 = pd.read_json('submission/cfknnv2_a05b03/auto_save3_second.json', orient='records')  # (22500, 23015)
best = pd.read_json('submission/lightknn_100_idf_rho04_tags-a05b05-songs_upgraded.json', orient='records')
val = pd.read_json('res/val.json')
ans = pd.DataFrame(columns=['id', 'songs', 'tags'], index=val.index)


first = pd.concat([first1, first2[2000:]], ignore_index=True)
second = pd.concat([second1, second2[2000:], second3], ignore_index=True)
ans = pd.concat([first, second], ignore_index=True)

for i in val.index:
    if val.songs[i] == []:
        ans.at[i, 'songs'] = best.loc[i, 'songs']
    ans.at[i, 'tags'] = best.loc[i, 'tags']

ans.to_json('submission/cfknnv2_a05b03/cfknnv2_a05b03.json', orient='records')

display(first1, first2, second1, second2, ans)

          id                                              songs tags
0     118598  [308797, 694423, 461170, 15774, 520437, 656598...   []
1     131447                                                 []   []
2      51464  [344798, 191494, 705540, 527625, 170349, 43616...   []
3      45144  [587737, 459349, 367679, 229904, 144663, 28070...   []
4      79929  [211220, 412769, 70314, 522562, 445299, 106129...   []
...      ...                                                ...  ...
6995  100853  [454871, 603842, 61490, 50495, 561452, 357117,...   []
6996  119012                                                 []   []
6997  106591  [62096, 671266, 63190, 550766, 603512, 385250,...   []
6998   43236  [348092, 11797, 554870, 500596, 502321, 425945...   []
6999   57815  [130199, 699874, 120291, 343214, 319861, 58032...   []

[7000 rows x 3 columns]

          id                                              songs tags
0      39550  [551860, 591462, 575247, 491365, 77181, 105116...   []
1      79324  [79970, 687497, 571008, 392151, 135604, 111501...   []
2      88821                                                 []   []
3      72625  [503448, 166593, 137665, 12739, 620400, 490281...   []
4     129605  [407828, 497710, 431902, 530279, 628029, 62520...   []
...      ...                                                ...  ...
6495   18621  [478386, 496253, 375889, 518327, 180228, 19713...   []
6496   55912  [315898, 202487, 156602, 658270, 569946, 29281...   []
6497   18736  [321021, 166371, 39682, 295980, 530411, 625652...   []
6498   68554  [208051, 568867, 341276, 306221, 623552, 61728...   []
6499   59108  [92755, 417490, 686315, 310974, 266016, 576943...   []

[6500 rows x 3 columns]

          id                                              songs tags
0     101984  [623010, 486149, 211709, 297740, 373629, 15524...   []
1      20534  [270694, 666132, 90175, 559711, 149375, 491279...   []
2      40972  [367345, 380876, 408581, 30212, 383369, 209271...   []
3      65961  [488943, 357367, 484926, 63998, 144663, 11569,...   []
4      48610  [456740, 612516, 552707, 367963, 413314, 43701...   []
...      ...                                                ...  ...
6995   89638  [364454, 350410, 398638, 279247, 310628, 19152...   []
6996   22390  [133143, 543226, 665508, 610933, 235900, 55418...   []
6997   29794  [675061, 32196, 134451, 597316, 27838, 160143,...   []
6998  134056  [357367, 600802, 613722, 193232, 232874, 55317...   []
6999  147376  [18117, 161768, 302278, 265811, 564812, 413422...   []

[7000 rows x 3 columns]

          id                                              songs tags
0       1173  [370066, 201700, 102784, 390629, 543673, 24385...   []
1      95118                                                 []   []
2     139479  [615385, 506394, 265321, 541989, 443630, 55705...   []
3       2747  [65622, 358241, 322491, 373649, 703096, 541682...   []
4      36068  [598738, 400671, 529026, 681575, 585208, 20215...   []
...      ...                                                ...  ...
5995  128967  [2324, 584304, 669304, 616960, 623053, 599705,...   []
5996  123453  [529970, 657365, 549368, 435834, 424536, 25190...   []
5997  150362                                                 []   []
5998   54338  [628085, 583823, 526558, 114037, 45909, 9644, ...   []
5999   31552                                                 []   []

[6000 rows x 3 columns]

,id,songs,tags
0,118598,"[308797, 694423, 461170, 15774, 520437, 656598...","[OST, 디즈니, 애니메이션, 영화, 추억, 기분전환, 동심, 디즈니OST, 픽사..."
1,131447,"[16382, 349306, 660725, 595188, 283888, 496879...","[기분전환, 발라드, 드라이브, 힙합, 힐링, 카페, 휴식, 랩, 추억, 감성]"
2,51464,"[344798, 191494, 705540, 527625, 170349, 43616...","[발라드, 추억, 회상, 이별, 슬픔, 설렘, 밤, 새벽, 사랑, 감성]"
3,45144,"[587737, 459349, 367679, 229904, 144663, 28070...","[발라드, 감성, 사랑, 잔잔한, 이별, 새벽, 카페, 기분전환, 휴식, 밤]"
4,79929,"[211220, 412769, 70314, 522562, 445299, 106129...","[CCM, 찬양, 은혜, 사랑, 예배, 국내ccm, 교회, 찬송가, 위로, 파워DJ..."
...,...,...,...
23010,101722,"[496582, 397577, 434298, 350447, 116573, 66072...","[새벽, 밤, 휴식, 힐링, 감성, 추억, 사랑, 이별, 기분전환, 슬픔]"
23011,122127,"[162689, 438095, 588370, 351769, 509141, 70748...","[위로, 엄마, 힐링, 부모님, 사랑, 잔잔한, 추억, 감성, 새벽, 회상]"
23012,77438,"[274504, 679436, 571016, 140867, 459256, 69631...","[팝, 팝송, Pop, 기분전환, 드라이브, 휴식, 신나는, 카페, 매장음악, 감성]"
23013,36231,"[102795, 200679, 375318, 97444, 95380, 520167,...","[클래식, 휴식, 힐링, 잔잔한, 기분전환, 피아노, 가을, 연주곡, 집중, 자장가]"
23014,65189,"[457124, 104065, 154929, 586556, 25012, 23155,...","[봄, 사랑, 벚꽃, 설렘, 봄노래, 기분전환, 봄날, 봄캐롤, 감성, 드라이브]"

In [8]:
# cfknnv2_a03b03
first = pd.read_json('submission/cfknnv2_a03b03/cfknnv2_a03b03_first.json', orient='records')    # (0, 5500)
second = pd.read_json('submission/cfknnv2_a03b03/cfknnv2_a03b03_second.json', orient='records')  # (5500, 17500)
third = pd.read_json('submission/cfknnv2_a03b03/cfknnv2_a03b03_third.json', orient='records')    # (17500, 23015)
best = pd.read_json('submission/lightknn_100_idf_rho04_tags-a05b05-songs_upgraded.json', orient='records')
val = pd.read_json('res/val.json')
ans = pd.concat([first, second, third], ignore_index=True)

for i in val.index:
    if val.songs[i] == []:
        ans.at[i, 'songs'] = best.loc[i, 'songs']
    ans.at[i, 'tags'] = best.loc[i, 'tags']

ans.to_json('submission/cfknnv2_a03b03/cfknnv2_a03b03.json', orient='records')

display(first, second, third, ans)

          id                                              songs tags
0     118598  [308797, 694423, 461170, 15774, 520437, 656598...   []
1     131447                                                 []   []
2      51464  [347410, 227764, 211430, 705757, 107484, 57200...   []
3      45144  [587737, 144663, 367963, 174749, 280705, 38428...   []
4      79929  [412769, 211220, 70314, 445299, 505388, 106129...   []
...      ...                                                ...  ...
5495  137562  [681432, 318217, 314290, 560444, 385004, 20129...   []
5496   74415  [290477, 8893, 623862, 600169, 567698, 357367,...   []
5497  141473  [363329, 97814, 96307, 89810, 57905, 564601, 5...   []
5498    6417  [395662, 481467, 275469, 606515, 621300, 49356...   []
5499  110556  [400891, 540582, 621993, 361528, 247393, 39889...   []

[5500 rows x 3 columns]

           id                                              songs tags
0        9513  [623911, 607508, 403699, 92495, 349808, 219117...   []
1       69516  [372235, 473716, 29842, 553894, 380564, 574523...   []
2      138716  [64361, 440160, 193232, 594592, 61029, 232874,...   []
3      129383  [14959, 676111, 32214, 34815, 144751, 661001, ...   []
4       66691  [627940, 661188, 108738, 191725, 590132, 13403...   []
...       ...                                                ...  ...
11995   19532  [264908, 592152, 677074, 250815, 685074, 43084...   []
11996   26793  [635501, 205789, 666160, 130487, 199587, 37331...   []
11997   19379  [301392, 541943, 423795, 605170, 565118, 46861...   []
11998   30551                                                 []   []
11999   25704  [408743, 223252, 382240, 373754, 561052, 14928...   []

[12000 rows x 3 columns]

          id                                              songs tags
0      89945  [144141, 530618, 135589, 308363, 633506, 36426...   []
1     125449  [398005, 36030, 219365, 163371, 641673, 107248...   []
2      25839                                                 []   []
3      18967                                                 []   []
4     151690                                                 []   []
...      ...                                                ...  ...
5510  101722  [496582, 397577, 116573, 434298, 350447, 33980...   []
5511  122127  [588370, 162689, 438095, 509141, 707487, 35176...   []
5512   77438  [274504, 679436, 571016, 140867, 696317, 45925...   []
5513   36231  [102795, 200679, 97444, 375318, 584292, 95380,...   []
5514   65189  [457124, 104065, 154929, 586556, 25012, 23155,...   []

[5515 rows x 3 columns]

,id,songs,tags
0,118598,"[308797, 694423, 461170, 15774, 520437, 656598...","[OST, 디즈니, 애니메이션, 영화, 추억, 기분전환, 동심, 디즈니OST, 픽사..."
1,131447,"[16382, 349306, 660725, 595188, 283888, 496879...","[기분전환, 발라드, 드라이브, 힙합, 힐링, 카페, 휴식, 랩, 추억, 감성]"
2,51464,"[347410, 227764, 211430, 705757, 107484, 57200...","[발라드, 추억, 회상, 이별, 슬픔, 설렘, 밤, 새벽, 사랑, 감성]"
3,45144,"[587737, 144663, 367963, 174749, 280705, 38428...","[발라드, 감성, 사랑, 잔잔한, 이별, 새벽, 카페, 기분전환, 휴식, 밤]"
4,79929,"[412769, 211220, 70314, 445299, 505388, 106129...","[CCM, 찬양, 은혜, 사랑, 예배, 국내ccm, 교회, 찬송가, 위로, 파워DJ..."
...,...,...,...
23010,101722,"[496582, 397577, 116573, 434298, 350447, 33980...","[새벽, 밤, 휴식, 힐링, 감성, 추억, 사랑, 이별, 기분전환, 슬픔]"
23011,122127,"[588370, 162689, 438095, 509141, 707487, 35176...","[위로, 엄마, 힐링, 부모님, 사랑, 잔잔한, 추억, 감성, 새벽, 회상]"
23012,77438,"[274504, 679436, 571016, 140867, 696317, 45925...","[팝, 팝송, Pop, 기분전환, 드라이브, 휴식, 신나는, 카페, 매장음악, 감성]"
23013,36231,"[102795, 200679, 97444, 375318, 584292, 95380,...","[클래식, 휴식, 힐링, 잔잔한, 기분전환, 피아노, 가을, 연주곡, 집중, 자장가]"
23014,65189,"[457124, 104065, 154929, 586556, 25012, 23155,...","[봄, 사랑, 벚꽃, 설렘, 봄노래, 기분전환, 봄날, 봄캐롤, 감성, 드라이브]"